nav.top-bar
  ul.title-area
    li.name
      h1
        a(href='') Fun with mobile
  section.top-bar-section
    ul.right
      li.has-form
        button.button.success(ng-click="main.isSpectator = true") Become spectator
        button.button.alert(ng-click="main.resetGame()") Reset game
