acme-navbar

.panel.hide-for-medium-up(ng-if="!main.isPlayer && !main.isSpectator")
  input(type="text" placeholder="Enter player name" ng-model="main.playerName")
  button.button.expand(ng-click="main.login()" ng-disabled="main.playerName.length <= 0") PLAY!

.game
  box(ng-repeat="player in main.playerList track by player.playerName" player="player")
